.top-pic {
  width: 100vw;
  height: calc(100vh - 40vh);
  background-image: url(/img/headers/projects.jpg);
  background-size: cover;
}
.title-box {
  margin-top: calc(100vh - 50vh);
  color: white;
}
.Projects-slider{
    background-color: white;
    padding: 100px 0px 80px 0px;
}

.swiper {
  padding: 0 3rem!important;
}