.LastProject {
  width: 100vw;
  background-color: white;
  padding: 50px 0px;
}
.img-last-p {
  width: 100%;
}

.Card-Project {
  border: solid 1px lightgrey;
  margin-top:20px ;
  background-color: #fcfcfc;
}

.Card-Project:hover {
  background-color: #151515;
  transition: 500ms;
  .label , .des {
      color: white;
  }
  .General-btn{
    background-color: green;
    color: white;
  }
  
}
.LastProject-title-box{
  padding: 10px  ;
}
.label {
  font-size: 20px;
  font-weight: 800;
}
.des {
font-weight: 200;  margin-top: 3px;
}

.title-l {
font-weight: 200;
  color: #198754;
  font-size: 15px;
}
.last-btn-box{
  display: flex;
  justify-content: center;
  padding: 10px 0px ;
  
}
