.top-pic {
  width: 100vw;
  height: calc(100vh - 40vh);
  background-image: url(/img/footer-bg.jpg);
}

.title-box {
  margin-top: calc(100vh - 50vh);
  color: white;
}

.my-drop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-drop,
.my-drop-ul {
  background-color: white;
  color: black;
  width: 100%;
  border-radius: 0px;
}

.my-drop:hover {
  background-color: white;
  color: green;
}

.search {
  width: 100%;
  margin: 20px 0px;
  height: 50px;
  color: black
}

.list-ul {
  padding: 0px;
  direction: rtl;
}

input.search {
  width: 93%;
  border-bottom: 0px;
  height: 100%;
  z-index: 10;
  color: black
}

.search-bar {
  margin: 32px 0px;
  width: 100%;
  border: 1px solid lightgray;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.namayandeh {
  background-color: #f5f5f5;
  padding: 80px 0px;
}

.list {
  border: 1px solid lightgrey;
  padding: 20px;
  overflow-y: scroll;
  height: 500px;
  direction: ltr;
}

.list-li {
  margin-top: 20px;
  text-align: center;
}

.list-li:hover {
  background-color: green;
  color: white;

  .namayande-phone-box {
    background-color: gray;
    border-color: gray;
  }
}

.list-group-item {
  padding: 20px 0px 0px 0px;
}

.list-li:hover p {
  color: white;
}

.map-box-frame-map {
  width: 100%;
  height: 100%;
}

.namayande-phone-box {
  border: 1px solid lightgray;
  background-color: lightgray;
  padding: 20px;
}


.leaflet-popup-content {
  font-family: YekanBakh;
  text-align: center;
}