.nav-top {
  width: 100vw;
  min-width: 300px;
  height: 90px;
  background: #151515;
  align-items: center;
  border-bottom: 1px solid #9191914a;
  position: fixed;
  z-index: 30;
}
.logo {
  height: 64px;
  padding: 8px;
  filter: brightness(2.5);
  filter: grayscale(1);
}
.nav-top:hover .logo {
  filter: none;
  transition: 0.5s;
}
.Media-Top {
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
}
.media {
  height: 30px;
  filter: brightness(2.5);
  filter: grayscale(1);
}
.media:hover {
  filter: none;
  transition: 0.5s;
}
