#contact-us .top-pic {
  width: 100vw;
  height: calc(100vh - 40vh);
  background-image: url("/img/headers/contact-us.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#contact-us .row {
  display: flex;
  justify-content: space-between;
}

#contact-us .title-box {
  margin-top: calc(100vh - 50vh);
  color: white;
}

#contact-us .contact-data {
  background-color: #f5f5f5;
  color: black;
  padding: 100px 0px;
  font-size: 20px;
}

#contact-us .hr {
  border-top: 2px solid gray;
}

#contact-us .contact-data-box {
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 20px;
  border-left: 2px solid lightgray;
  padding: 0px;
  padding-right: 25px;
}

#contact-us .contact-box-title-div {
  display: flex;
  margin-top: -16px;
}

#contact-us .contact-box-line-div {
  display: flex;
  margin-top: 30px;
  justify-content: right;
}

#contact-us .contact-box-logo {
  margin-left: 13px;
}

#contact-us .contact-box-h {
  font-size: 30px;
  padding-left: 10px;
}

#contact-us .social-media {
  background-color: #f5f5f5;
}

#contact-us .titr-div {
  display: flex;
}

#contact-us .social-media-box {
  /* border-top: 1px solid lightgrey; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#contact-us .social-media-h {
  font-size: 30px;
  padding: 0px 15px;

}

#contact-us .social-media-box-icon {
  filter: brightness(25);
  filter: grayscale(1);
  margin: 0px 40px;
}

#contact-us .social-media-box-icon:hover {
  filter: none;
  transition: 0.5s;
}

#contact-us .social-media-box-div {
  padding: 30px 0px;
}

#contact-us .social-media-pic-box {
  width: 100%;
  height: 100%;
  padding-bottom: 40PX;
}

#contact-us .social-media-pic-box-pic {
  width: inherit;
  height: fit-content;
}

#contact-us .map {
  background-color: #f5f5f5;
  padding-bottom: 40px;
}

#contact-us .map-box {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#contact-us .map-box-h {
  display: flex;
}

#contact-us .map-box-h-title {
  padding: 0px 15px;
}

#contact-us .map-box-frame {
  width: 100%;
  height: 500px;
}

#contact-us .map-box-frame-map {
  width: 100%;
  height: 100%;
  border: 2px solid lightgray;
}

#contact-us .map-box-title {
  margin: 10px 0px;

}

#contact-us .form {
  background-color: #f5f5f5;

}

#contact-us .contact-form {
  display: flex;
  padding-top: 40px;
  border-top: 1px solid lightgrey;
  align-items: center;

}

#contact-us .contact-form-title {
  display: flex;
  text-align: center;
  padding-top: 25px;
}

#contact-us .contact-form-des-box {
  padding: 20px;
  text-align: center;

}

#contact-us .contact-box-input {
  width: 100%;
  height: 40px;

}

#contact-us .contact-box-input-p {
  width: 100%;
  height: 200px;

}

#contact-us .contact-from-h {
  margin: 15px 0px;
}

#contact-us .contact-form-btn {
  width: 15%;
  padding: 8px 0px;
  margin: 20px 0px 100px 0px;

}