#about .top-pic {
  width: 100vw;
  height: calc(100vh - 40vh);
  background-image: url("/img/headers/about-us.jpg");
  background-size: cover;
}
#about .title-box {
  margin-top: calc(100vh - 50vh);
  color: white;
}

#about .First-p {
  padding-top: 50px;
  width: 100vw;
  color: black;
  /* background-color: #f5f5f5; */
  /* padding: 100px 0px; */
  margin-bottom: 35px;
}

#about .about-us #about .First-p-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0px;
}

#about .first-p-box-h {
  font-weight: 800;
  text-align: center;
}
#about .first-p-box-h-box {
  margin-bottom: 25px;
  display: flex;
}
#about .hr-first {
  border-top: 2px solid black;
}
#about .first-p-box-p-box {
  /* border-top: 1px solid lightgrey; */
  /* padding: 20px 0px; */
  color: #505050;
  text-align: center;
}
#about .aboutus-data-h-box {
  display: flex;
}
#about .aboutus-box {
  /* must set background image */
  background-image: url(/img/slider1.jpg);
  padding: 100px 0px;
  width: 100vw;
  margin-bottom: 100px;
}
#about .aboutus-2-data-h-box{
  display: flex;
}
#about .row{
  display: flex;
}
#about .aboutus-data {
  padding: 70px 0px;
}
/* #about .aboutus-data-p-box {
  border-top: 1px solid lightgrey;
  padding-top: 10px;
} */
#about .aboutus-2-box {
  /* must set background image */
  background-image: url(/img/slider1.jpg);
  padding: 100px 0px;
  width: 100vw;
  margin-bottom: 100px;
}
#about .aboutus-2-data {
  padding: 70px 0px;
}
/* #about .aboutus-2-data-p-box {
  border-top: 1px solid lightgrey;
  padding-top: 10px;
} */
#about .aboutus-2-data-h {
  font-weight: 800;
  padding-left: 15px;
}
#about .aboutus-data-h {
  font-weight: 800;
  padding-left: 15px;
}
#about .Heads {
  background-color: white;
  padding-bottom: 100px;
}
#about .Heads-h {
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
#about .Card {
  background-color: #fcfcfc;
  border: 1px solid lightgray;
}
#about .Card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#about .Card-img {
  border-radius: 3px;
  height: 70%;
  width: 100%;
}
#about .Card-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
 #about .Card-title {
  font-weight: 800;
  font-size: larger;
}
#about .Card-p {
  font-size: medium;
}
#about .Card {
  height: 400px;
}
