.NavBar {
  width: 100vw;
  min-width: 300px;
  background-color: #151515;
  height: 50px;
  top: 0%;
}
.NavBar-list {
  display: flex;
}
.btn-searchbar {
  color: white;
}
.btn-searchbar:focus {
  color: white;
}
/* flex items-center justify-start */
.searchbar {
  display: flex;
  align-items: center;
  justify-content: end;
}
/* absolute left-[170px] top-20 max-sm:left-10 max-sm:top-[110px] bg-inherit border-b-[1px] border-[#bfbfbe] */
.search-input {
  outline: none;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0px solid transparent;
  padding: 0;
  width: 0;
  height: fit-content;
  min-height: fit-content;
}

.search-input.open {
  border-bottom: 1px solid #bfbfbe;
  min-width: 250px;
  width: 250px;
}

@media (max-width: 1400px) {
  #NavMenu {
    visibility: hidden;
  }
}
@media (max-width: 800px) {
  .search-input {
    top: 55px;
    left: 100px;
  }
}
@media (max-width: 400px) {
  .search-input {
    top: 80px;
    left: 30px;
  }
}
