body {
  font-family: "Yekan Bakh FaNum";
  direction: rtl;
  letter-spacing: -1px;
  overflow-x: hidden;
  transition: background-color 0.5s;
}

p {
  letter-spacing: 0;
}

a {
  color: #414141;
  text-decoration: none;
}

a:hover {
  color: var(--bs-success);
}

section.menu-sec {
  position: relative;
  z-index: 2;
  background: rgb(21 21 21);
  transition: 0.5s;
}

section.menu-sec:hover {
  background: rgb(21, 21, 21);
  transition: 0.5s;
}

section.menu-sec:hover .logo-top {
  filter: grayscale(0) brightness(1);
  transition: 0.5s;
}

.search-icon path {
  fill: rgb(255 255 255);
}

section.menu-sec:hover .nav-link {
  color: rgb(255 255 255);
  transition: 0.5s;
}

a.dropdown-item {
  text-align: right !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: rgb(255 255 255 / 90%);
}

.navbar-nav {
  padding-right: 0px;
}

.video-sec {
  height: 115vh;
  margin-top: -14vh;
  position: relative;
}

img.logo-top {
  width: 96px;
  filter: grayscale(1) brightness(2.5);
  transition: 0.5s;
  margin-bottom: 3px;
}

.navbar-toggler {
  padding: 4px 0px;
}

a.nav-link {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  transition: 0.5s;
  letter-spacing: 0;
  border-bottom: 2.5px solid rgba(255, 255, 255, 0);
  text-wrap: nowrap;
  font-weight: 400;
  z-index: 10;
  position: relative;
}

a.nav-link:hover {
  border-bottom: 2.5px solid rgb(239 239 239);
  transition: 0.5s;
}

a.nav-link:focus-visible {
  color: #ffffff;
}
a.nav-link:focus {
  color: #ffffff;
}

.dropdown-toggle::after {
  margin-right: 6px;
}

nav.navbar.navbar-light.navbar-expand-xl {
  padding: 0;
  position: relative;
}

.dropdown-menu.show {
  position: static !important;
  width: 100%;
  border-radius: 0;
  top: 67px;
  border: 0;
  display: none;
}

section.top-menu {
  background: rgb(21, 21, 21);
  padding-top: 13px;
  padding-bottom: 9px;
  position: relative;
  z-index: 3;
  border-bottom: 1px solid #333;
}

h5.top-menu-txt {
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-left: 8px;
}

img.box-img {
  width: 90%;
  border-radius: 10px;
  transition: 0.5s;
  filter: contrast(0.8);
}

h3.box-title {
  font-size: 18px;
  margin-top: 10px;
  margin-right: 5px;
  color: rgb(14, 14, 14);
}

section.sub-box {
  background: #fbfbfb;
  border-top: 1px solid #ebebeb;
  padding-top: 40px;
  padding-bottom: 26px;
}

h4.about-title {
  font-size: 30px;
  margin-bottom: 15px;
}

p.about-p {
  font-size: 15px;
  line-height: 30px;
  color: rgb(54, 54, 54);
}

div.about-box {
  height: 121px;
  border: 1px solid #ebebeb;
  background: #ffffff;
  padding: 10px;
  transition: 0.5s;
  margin-bottom: 20px;
}

img.about-box-icon {
  width: 37px;
}

h5.about-box-title {
  font-size: 17px;
  margin-top: 4px;
  margin-bottom: 4px;
}

p.about-box-p {
  color: rgb(42, 42, 42);
  font-size: 11px;
}

.about-box:hover {
  border-style: solid;
  border-color: rgb(25 135 84);
  transition: 0.5s;
}

img.box-img:hover {
  filter: grayscale(0) contrast(0.6);
  transition: 0.5s;
}

section.fullwidth {
  background: url("/img/slider1.jpg") right / cover no-repeat;
  padding-top: 190px;
  padding-bottom: 190px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  filter: contrast(1);
}

h3.full-title {
  font-size: 33px;
  letter-spacing: -2px;
  margin-top: 15px;
}

p.full-p {
  line-height: 30px;
  font-size: 15px;
}

.btn.full-btn {
  background: var(--bs-success);
  border-radius: 0;
  width: 140px;
  color: #ffffff;
  border-width: 1px;
  border-color: var(--bs-success);
}

section.news {
  padding-top: 80px;
  padding-bottom: 90px;
  background: #fbfbfb;
}

h3.news-section-title {
  font-size: 30px;
}

p.news-sec-p {
  font-size: 15px;
  line-height: 30px;
  color: rgb(54, 54, 54);
}

img.news-image {
  width: 100%;
  filter: contrast(0.7);
}

h4.news-title {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 12px;
}

div.new-box {
  border: 1px solid #ebebeb;
}

div.news-box-sub {
  padding: 13px;
  padding-bottom: 30px;
  background: #fff;
  transition: 0.5s;
}

p.news-p {
  font-size: 15px;
  line-height: 30px;
}

.btn.news-btn {
  background: rgba(10, 88, 202, 0);
  border-width: 1px;
  border-color: var(--bs-success);
  border-radius: 0px;
  color: var(--bs-success);
  width: 140px;
}

div.news-sec-title-div {
  padding-bottom: 15px;
}

div.counter-box {
  background: linear-gradient(
    90deg,
    rgb(0 0 0 / 70%) 0%,
    rgba(0, 212, 255, 0) 100%
  );
  height: 640px;
  transition: 0.5s;
}

h2.counter-number {
  color: rgb(255, 255, 255);
  margin-top: 22px;
}

div.counter-box-div {
  writing-mode: vertical-rl;
  text-align: left;
  transform: scale(-1, -1);
}

span.counter-number {
  font-size: 65px;
}

section.products-sec {
  padding-top: 50px;
  background: #ffffff;
  padding-bottom: 40px;
}

section.projects {
  padding-bottom: 80px;
  background: #fbfbfb;
  padding-top: 80px;
}

section.middle {
  background: rgb(21, 21, 21);
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: -10px;
}

h2.Counseling {
  color: rgb(255, 255, 255);
  font-size: 19px;
  line-height: 30px;
}

/* .container-Counseling {
} */

.btn.Counseling-btn {
  background: rgba(10, 88, 202, 0);
  border: 1px solid #ffffff;
  border-radius: 0px;
  width: 200px;
  height: 50px;
  margin-bottom: 8px;
}

.Counseling-btn:hover {
  background: var(--bs-success);
  border-style: solid;
  border-color: var(--bs-success);
}

.video-sec:before {
  display: block;
  content: "";
  width: 100%;
  height: 115vh;
  background: #00000078;
  position: absolute;
  z-index: 1;
}

div.project-text-box {
  text-align: center;
  padding: 25px;
}

h6.project-top-title {
  color: var(--bs-success);
  text-align: center;
  font-size: 14px;
}

h4.projects-title {
  text-align: center;
  font-size: 20px;
}

p.projects-p {
  color: rgb(150 150 150);
  font-size: 15px;
  text-align: center;
}

div.projects-box {
  border: 1px solid #ebebeb;
  background: #ffffff;
}

section.logos {
  margin-top: -130px;
  background: rgba(0, 0, 0, 0.6);
  padding-top: 35px;
  padding-bottom: 36px;
}

img.logos-img {
  width: 50%;
}

div.counter-box:hover {
  transition: 0.5s;
  background: #00000042;
}

section.logos-back {
  background: url("/img/banner-footer.jpg") top / cover no-repeat;
  height: 900px;
  filter: brightness(1) contrast(0.8);
}

div.logos-div {
  background: rgba(0, 0, 0, 0.6);
  padding-top: 20px;
  padding-bottom: 20px;
}

.projects-box:hover .project-image-div img {
  filter: grayscale(1);
}

div.news-box-btn-div {
  text-align: right;
}

.new-box:hover img {
  filter: grayscale(0.7);
  transition: 0.5s;
}

section.footer-sec {
  background: url("/img//footer-bg.jpg?h=3e28e44e5b8956eadfcb2fd7bebc7d9c?h=3e28e44e5b8956eadfcb2fd7bebc7d9c?h=3e28e44e5b8956eadfcb2fd7bebc7d9c?h=3e28e44e5b8956eadfcb2fd7bebc7d9c")
      top / cover no-repeat,
    rgb(21, 21, 21);
  padding-top: 80px;
  padding-bottom: 30px;
}

img.footer-logo {
  width: 120px;
  margin-bottom: 20px;
}

h4.footer-main-title {
  color: var(--bs-success);
  margin-top: 16px;
  font-size: 16px;
  letter-spacing: 0;
  margin-bottom: 25px;
}

ul {
  color: rgb(255, 255, 255);
  list-style-type: none;
  padding: 0;
}

li {
  line-height: 43px;
}

p.footer-contact {
  color: rgb(255, 255, 255);
  font-size: 15px;
  line-height: 30px;
  margin-top: 20px;
}

div.footer-spacer {
  height: 1px;
  background: #ffffff2b;
  margin-top: 30px;
  margin-bottom: 30px;
}

h6.footer-copyright {
  color: rgb(184, 184, 184);
  font-size: 13px;
  letter-spacing: 0;
}

div.footer-copyright-div {
  margin-top: 15px;
}

h1.slider-title {
  text-align: right;
  color: rgb(255, 255, 255);
  position: relative;
  z-index: 1;
  font-size: 41px;
  margin-bottom: 10px;
  margin-top: 14px;
  line-height: 50px;
}

p.slider-p {
  position: relative;
  z-index: 1;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 9px;
}

.btn.slider-btn {
  background: var(--bs-success);
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
  position: relative;
  z-index: 9999;
  border-radius: 0px;
  width: 140px;
  height: 45px;
}

/* .Counseling-btn.btn2 {
} */

.new-box:hover .news-box-sub {
  background: #151515;
  transition: 0.5s;
}

.new-box:hover .news-title {
  color: #fff;
}

.new-box:hover .news-p {
  color: #fff;
}

.new-box:hover .btn.news-btn {
  background: var(--bs-success);
  color: #fff;
}

.full-btn:hover {
  background: var(--bs-success);
  color: #ffffff;
  border-style: solid;
  border-color: var(--bs-success);
}

.projects-box:hover {
  background: #151515;
  transition: 0.5s;
}

.projects-box:hover h4.projects-title {
  color: #fff;
}

div.projects-box:hover .project-image-div {
  filter: grayscale(0) contrast(1);
}

/* div.logo-top-div {
} */

.dropdown:hover .dropdown-menu {
  display: block;
  transition: 0.5s;
  padding: 25px;
  width: 1400px;
  position: fixed;
  right: 0;
  /* top: 0; */
  border: 0;
  background: #151515;
  border-bottom: 1px solid #333;
  border-radius: 0px;
}

img.megamenu-img {
  width: 253px;
}

.dropdown-menu {
  display: none;
  transition: 0.5s;
}

div.dropdown-div {
  text-align: right;
}

.text-end.megamenu-title-div {
  border-right: 1px solid #ddd;
  padding-right: 20px;
  color: rgb(255, 255, 255);
}

p.megamenu-p {
  font-size: 20px;
  font-weight: 300;
  color: #8e8e8e;
}

a.mega-items {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
}

div.slider-text-div {
  margin-top: 100px;
  text-align: right;
  position: relative;
  z-index: 1;
}

a.mega-items:hover {
  color: #fff;
  font-weight: 600;
}

h5.slider-text-top {
  color: rgb(255, 255, 255);
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
  padding-bottom: 6px;
  padding-top: 4px;
}

div.slider-text-top-div {
  background: var(--bs-success);
  width: 169px;
}

.btn.slider-top-btn {
  background: #000000;
  font-size: 12px;
  border-radius: 0px;
  border-style: none;
  margin-bottom: 6px;
  color: #ffffff;
  cursor: unset;
}

p.slider-sub-p {
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

.container-menu {
  padding-right: 10px;
  padding-left: 10px;
}

/* .container-menu {
} */

/* section.menu-sec:active .nav-link {
  /* color: rgb(14,14,14); */

section.menu-sec:focus .nav-link {
  color: rgb(14, 14, 14);
}

div.counter-box-filter {
  filter: contrast(0.8);
  transition: 0.5s;
}

.counter-box-filter:hover {
  filter: contrast(0.7) grayscale(0.7);
  transition: 0.5s;
}

.counter-title-span {
  font-size: 25px;
  margin: 7px;
}

.Counseling-btn.btn3 {
  background: var(--bs-success);
  border-style: solid;
  border-color: var(--bs-success);
  margin-right: 10px;
}

section.full-top {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

section.full-top:hover .logo-top {
  filter: grayscale(0) brightness(1);
  transition: 0.5s;
}

li.nav-item {
  padding-right: 10px;
  padding-left: 10px;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-toggler-icon {
  background-image: url(/img/hamburger.png) !important;
  width: 20px;
}

input.search {
  background: rgba(255, 255, 255, 0);
  border-bottom-style: solid;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid rgb(191 191 191);
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  width: 200px;
}

input.search:focus-visible {
  outline: none;
  border-bottom: 1px solid rgb(191 191 191);
}

svg.search-icon {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

input.search::placeholder {
  color: #ffffffc2;
}

h6.footer-contact {
  line-height: 27px;
}

img.footer-icon {
  width: 22px;
  margin-left: 15px;
  opacity: 0.65;
}

.row.product-row {
  margin-bottom: 30px;
}

.project-image-div img {
  filter: contrast(0.8);
  transition: 0.5s;
}

/* li.footer-items-links {
} */

li.footer-items-links:hover {
  color: var(--bs-success);
}

.projects-box:hover .btn.news-btn {
  background: var(--bs-success);
  color: #fff;
}

img.social-logo {
  margin-left: 9px;
  width: 20px;
  margin-top: 10px;
  filter: grayscale(1) brightness(2);
  transition: 0.5s;
  margin-top: 0px;
}

img.social-logo:hover {
  filter: grayscale(0);
  transition: 0.5s;
}

div.social-div {
  margin-right: 10px;
  margin-top: -10px;
}

.count {
  font-size: 65px;
}

span.count-number {
  font-size: 65px;
}

.list-group-item.list-group-item-action {
  text-align: right;
  border: none;
}

.list-group.list-group-flush {
  text-align: right;
  padding-right: 11%;
}

.list-group.list-group-flush p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.5px;
  color: #fff;
}

.list-group.list-group-flush h3 {
  font-size: 33px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #fff;
}

.p-t-45 {
  padding-top: 45px;
}

.blt {
  border-left: 1px solid #ffffff29;
  margin-left: 55px;
}

.list-group-item-action:focus,
.list-group-item-action:hover {
  background: none;
  font-weight: bold;
}
.list-group-item-action:hover {
  border-bottom: 2.5px solid rgb(239 239 239);
  transition: 0.5s;
  width:fit-content
}
.list-group-flush > .list-group-item:last-child {
    border-bottom-width: 2.5px!important;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 23px 14px 12px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-left: 30px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: -30px;
  font-size: 36px;
  margin-right: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.sidemenu {
  padding-right: 25px;
}

.sidemenu a {
  color: #fff;
  border-bottom: 1px solid #999;
  font-size: 16px;
  font-weight: 400;
}

.salmon:before {
  content: "";
  background: #000000d9;
  width: 100%;
  height: 120%;
  display: block;
  position: absolute;
  z-index: 99;
}

.mt65 .language-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #262626;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 0.5rem;
}

.dropdown-menu {
  z-index: 1;
}

.language-dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0px 6px;
  z-index: 1;
  width: 100.5%;
  border: 1px solid #919191;
  right: -1px;
  border-top: 1px solid #242424;
}

.language-dropdown:hover .language-dropdown-content {
  display: block;
}

.text-start .language-dropdown span {
  color: #fff;
  font-size: 13px;
  padding-left: 6px;
  font-weight: bold;
}

.language-dropdown-content p {
  font-size: 14px;
  margin-bottom: 0;
}

.language-dropdown-content:hover {
  background: #000;
}

.language-dropdown-content:hover p {
  color: #fff;
  cursor: pointer;
}

.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow {
  border: solid #a3a3a3;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  margin-right: 7px;
  position: absolute;
  margin-top: -3px;
  left: 18px;
  top: 17px;
}

.text-start.mt65 {
  margin-top: -11px;
  width: 100%;
  margin-top: 2px;
  border: 1px solid #9191914a;
  text-align: right !important;
}

a.list-group-item.list-group-item-action {
  padding: 5px;
}

.list-group {
  --bs-list-group-bg: #151515;
}

a.list-group-item.list-group-item-action {
  color: #fff;
  font-weight: 300;
}

.sidenav a:hover {
  color: #f1f1f1;
  border-bottom: 1px solid #fff;
}

a.closebtn:hover {
  border: none;
}

a.list-group-item.list-group-item-action:hover {
  font-weight: 400;
}

.mt65 img {
  width: 31px;
  margin-left: 10px;
}

img.brd {
  border-radius: 50%;
  width: 26px;
}

.sidemenu nav {
  position: relative;
  /* margin: 50px; */
  width: 100%;
}

.sidemenu nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidemenu nav ul li {
  /* Sub Menu */
  background: none !important;
}

.sidemenu nav ul li a {
  display: block;
  background: none !important;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.sidemenu nav ul li a:hover {
  background: #1d4f71;
  color: #fff;
}

.sidemenu nav ul li a .fa {
  width: 16px;
  text-align: center;
  margin-right: 5px;
  float: left;
  margin-top: 13px;
}

.sidemenu nav ul ul {
  background: rgba(0, 0, 0, 0.2);
}

.sidemenu nav ul li ul li a {
  border-left: 4px solid transparent;
  padding: 10px 20px;
}

.sidemenu nav ul li ul li a:hover {
  border-left: 4px solid #3498db;
}

#overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 1s 0.4s;
}

#progress {
  height: 1px;
  background: #fff;
  position: absolute;
  width: 0;
  /* will be increased by JS */
  top: 50%;
}

#progstat {
  font-size: 21px;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: "Yekan Bakh FaNum";
}

img.logo-top.pds {
  position: absolute;
  top: 34%;
  right: 45%;
  width: 12%;
}

.btn.slider-top-btn:active {
  background: #000000;
}

div#video-container {
  background: #fff;
}

.cursor-pointer {
  cursor: pointer;
}
