.Cards {
  width: 100vw;
  height: 100%;
  background: white;
  padding: 40px 0px;
}

.pic {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 284px;
}
.pic-div {
  padding: 20px;
}
.pic-div:hover {
  filter: grayscale(40%);
}
.card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-row-2 {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.link{
  color: black;
  text-decoration: none;

}
@media (max-width: 1382px) {
  .pic-div {
    max-width: 279px;
  }
}
@media (max-width: 1200px) {
  .pic-div {
    max-width: 234px;
  }
}
@media (max-width: 992px) {
  .pic-div {
    max-width: 174px;
  }
}
@media (max-width: 767px) {
  .card-row,
  .card-row-2 {
    flex-direction: column;
  }
  .pic-div {
    max-width: 100%;
  }
}

.home-product-title{
  font-size: 18px;
  margin-top: 10px;
  margin-right: 5px;
  color: rgb(14, 14, 14);
}