
.Video-sec{
    width:100vw;
    height: 100vh;
    background: #00000078;
}
.video{
    position: fixed;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%; 
}
.title{
    max-width: 600px;
    color: white;
    padding-top:250px ;
    padding-bottom: 300px;
    text-align: right;
    
}
.start-title-btn{
    /* padding: 5px 45px ; */
    color: white !important;

}
.first-p {
    font-size: 12px;
    background-color: #000;
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 8px 16px;
    color: #fff;
}

.h1 {
    font-size: 40px;
    padding: 10px 0;
}

.second-p {
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    letter-spacing: 0px;
}

.third-p{
    font-size: 14px;
    font-weight: 100;
    color: white;
    margin-bottom: 25px;
}
.title .btn {
    color: #fff;
    font-size: 16px;
    border-radius: 0;
    text-decoration: none;
    border-radius: 0;
    width: 140px;
    border-width: 1px;
}