.DropDown {
  margin: 8px;
  height: 50px;
  background-color: #262626;
  color: white;
  border: 1px solid #9191914a;
  justify-content: end;
  width: 100%;
  align-items: center;
}
.flag {
  height: 30px;
  border-radius: 100%;
  margin-left: 8px;
}
.DropDown_div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#DropDown {
  position: absolute;
  top: 75%;
  z-index: 10;
}
