:root {
  --bs-btn-hover-color: #198754 !important;
  --swiper-theme-color: #198754 !important;
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/YekanBakhFaNum-Thin.woff") format("woff"),
    url("/fonts/YekanBakhFaNum-Thin.woff2") format("woff2");
}


@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/YekanBakhFaNum-Light.woff") format("woff"),
    url("/fonts/YekanBakhFaNum-Light.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/YekanBakhFaNum-Regular.woff") format("woff"),
    url("/fonts/YekanBakhFaNum-Regular.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/YekanBakhFaNum-SemiBold.woff") format("woff"),
    url("/fonts/YekanBakhFaNum-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/YekanBakhFaNum-Bold.woff") format("woff"),
    url("/fonts/YekanBakhFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/YekanBakhFaNum-Bold.woff") format("woff"),
    url("/fonts/YekanBakhFaNum-Bold.woff2") format("woff2");
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  text-decoration: none !important;
}

p {
  line-height: 40px !important;
  font-size: 18px !important;
  color: #7a7979;
}

body {
  letter-spacing: -1px !important;
}

a {
  color: unset;
}

button {
  border: none;
  background: inherit;
}

.font-800 {
  font-weight: 500;
}

.font-200 {
  font-weight: 200;
}

.pad-50 {
  padding: 0px 0px 50px 0px;
  background-color: #f5f5f5;
}

h4 {
  font-size: 25px;
  color: #198754;
}

input {
  border: 1px solid #c1c1c1;
}

textarea {
  border: 1px solid #c1c1c1;
}

.loading-container {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  bottom: 0 !important;
}