.top-pic {
    width: 100vw;
  background-size: cover;
  height: calc(100vh - 40vh);
    background-image: url(/img/footer-bg.jpg);
  }
  .title-box {
    margin-top: calc(100vh - 50vh);
    color: white;
  }
  .special-news{
    background-color: white;
    padding: 50px 0px ;
  }
  .special-news-h{
    text-align: center;
    padding: 30px 0px ;
    border-bottom: 1px solid lightgrey;
  }
  .news-archive{
    background-color: #f5f5f5;
    padding: 50px ;
  }
.news-archive-title{
    text-align: center;
    border-bottom:1px solid lightgrey ;
    padding-bottom:20px ;
}
.news-archive-title-2{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.news-archive-part{
    margin-left: 20px;
}

.news-page-num-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    
}
.news-page-num{
    display: flex;
    justify-content: space-around;
    width: 400px;
}
.news-Card-box{
    height: 500px;
}
.Card-boxs{
    padding-top: 40px;
}
.card-box-des{
  padding:0px 20px 10px 0px ;
}
.news-counter-btn{
  border: 1px solid #b8b5b5;
  padding: 3px 10px;
}
.news-counter-btn:hover{
  border-color: green;
}