.Footer{
    background-image: url(/img/footer-bg.jpg);
    width: 100vw;
}
.logo-footer{
    max-width: 120px ;
}
.footer-div{
    margin-top: 50px;
    
}
.footer-shortcut{
    margin-top: 80px;
}
.footer-icon{
    height: 22px;
    margin-left: 5px;
}
.footer-data{
    margin-top: 5px;
    display: flex;
    
}
.footer-p{
font-weight: 200; 
   color: white;
}
.shortcut-link{
font-weight: 200; 
   display: block;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-weight: 300 !important;

}
.shortcut-link:hover{
    color: #1919;
    filter: brightness(2.5);
    transition: 150ms;
}
.media-footer{
    margin-left: 10px;
}
.footer-footer{
font-weight: 200;
    font-size: 14px;
    color: #b8b8b8;
    margin-top: 30px;
    border-top: 1px solid #ffffff2b;
}