.top-pic {
    width: 100vw;
  background-size: cover;
  height: calc(100vh - 40vh);
    background-image: url(/img/footer-bg.jpg);
  }
  .title-box {
    margin-top: calc(100vh - 50vh);
    color: white;
  }
.New-top-box{
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-evenly;
}

.new-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 50px;
    
}

.pack{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px ;
    align-items:center;
}
.News-mid-box{
    background-color: #f5f5f5;
}
.Share-us{
    background-color: #f5f5f5;
    
}
.share-us-title{
    font-size: 30px ;
}
.media{
    margin-left: 10px;
}
.share-us-media{
    margin: 20px 0px ;
}
.media-pic{
    margin-left: 10px ;
    filter:grayscale(2) ;
}
.media-pic:hover{
    filter: none;
    transition: 150ms ;
}
.Comments{
    background-color: #f5f5f5;
    
}
