.Card-box{
    margin-bottom: 20px ;
    background-color: white;
}
.card-box-img{
    width: 100%;
    
}
.card-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Layout-3{
    padding: 50px;
}