.img-1 {
  width: 100%;
}
.news-item {
  width: 100%;
}
.pic-div-news {
  padding-top: 20px;
  /* height: 600px; */
}

.border {
  border: solid 1px black;
}
.border:hover {
  background: black;
  color: white;
  transition: 500ms;
  .des {
    color: white !important;
  }
  .General-btn {
    background-color: green;
    color: white;
  }
}

.des-div-news {
  padding: 20px;
}
.label {
  font-size: 18px;
}
.des {
  padding-top: 3px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 15px !important;
  line-height: 30px !important;
  color: #808080;
  font-weight: 100 !important;
}

.new-btn {
  font-size: 15px;
  border: 1px solid #198754;
  color: #198754;
  border-radius: 0px;
  width: 114px;
  height: 30px;
  padding: 6px 12px 6px 12px;
}

.new-btn:hover {
  border: 1px solid #198754;
  color: white;
  background-color: #198754;
}

.test222{
  padding: 1px;
}