.News {
  width: 100vw;
  background-color: white;
  padding: 50px 0px;
}

.h2,
.p {
  display: flex !important;
  justify-content: center !important;
}

.news-p {
  padding-top: 10px;
  padding-bottom: 30px;
  color: #7f7f7f;
  font-weight: 100;
}

.hr-news {
  border-top: 2px solid gray;
}

.special-news-h,
.news-archive-title {
  padding-top: 50px;
  display: flex;
}
.font-800 {
  padding: 0px 15px;
}
.slider-data-box {
  display: flex;
  flex-direction: column;
}
.slider-data-des {
  font-size: 16px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.slider-data-title {
  font-size: 15px;
  text-align: right;
}
.news-archive-part{
  text-align: center;
  line-height: 1rem;
  min-width: fit-content;
}