.Video-sec {
    width: 100vw;
    height: 700px;
}

.video {
    position: fixed;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.title {
    margin-top: calc(100vh - 55vh);
    color: white;
}

.Product-first-data-box {
    background-color: white;
    padding: 50px 0px;

}

.product-title-box {
    text-align: center;
    border-bottom: 1px solid lightgrey;
    /* padding: 20px 0px ;
    /* display: flex; */
}

.hr-khadamat {
    border-top: 2px solid gray;
}

.product-p-box {
    padding: 20px 0px;
    text-align: center;
}

.product-card-box {
    border: 1px solid lightgrey;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
}

.product-card-data {
    text-align: center;
    width: 70%;

}

.product-seris {
    background-color: #f5f5f5;
    padding: 100px
}

.product-seris-title {
    text-align: center;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 30px;
    padding: 20px 0px;

}

.news-Card-box {
    background-color: white;
}

.Catalog {
    background-color: white;
}

.catalog-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.Catalog {
    padding: 50px;
}

.catalog-box {
    padding-top: 20px;
}

.catalog-title {
    border-bottom: 1px solid lightgrey;
    text-align: center;
    padding-bottom: 10px;
}

.Accardion {
    background-color: #f5f5f5;
    padding: 50px;
}

.accardion-title {
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 20px 0px;
}

.accardion-box {
    padding: 30px;
}

.accordion-button:not(.collapsed) {
    background-color: white;
    color: green;
    box-shadow: none;
}

.accordion-button:not(.open) {
    box-shadow: none;
}

.accordion-button {
    padding: 20px 20px;
}

.accordion-button::after {
    margin-right: 10px;
}

.accordion-button {
    font-size: 18px;
    font-weight: 200;

}

.Card-box {
    margin-bottom: 20px;
    background-color: white;
}

.card-box-img {
    width: 100%;

}

.card-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-box-title {
    height: 10%;
    padding: 10px 20px;
}

.card-box-des {
    width: 100%;
    padding: 10px 20px;
}

.card-p {
    font-size: 16px;
}