.btn {
  height: 50px;
}
.Burger-side {
  background: #000000e6;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 5px;
  right: 0px;
  z-index: 50;
}
.burger-side-ul {
  min-width: 250px;
  width: 350px;
  height: 100vh;
  background-color: #111;
}
.close-btn {
  color: #818181;
  position: relative;
  top: 20px;
  right: 20px;
}
.ul-div {
  position: relative;
  top: 40px;
}
.ul {
  list-style: none;
  height: 70%;
}
.li {
  text-decoration: none;
  padding: 10px 15px;
  border-bottom: 1px solid #999;
  line-height: 43px;
}
.label-burger {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
}

@media (min-width: 992px) {
  .burger-menu-container {
    display: none;
  }
}
