.Representatives{
    width: 100vw;
    background: #151515;
    color: white;
    height: 58px;
    padding: 70px;
    font-size: 20px ;
    display: flex;
    align-items: center;

}
.Representatives-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.btn-1{
    color: white;
    border: white solid 1px;
    margin-left: 15px;
    border-radius: 0px;

}
.btn-2{
    color: white;
    border:  #198754 solid 1px;
    background-color:#198754 ;
    border-radius: 0px;
}
.btn-1:hover,.btn-2:hover{
    color: white;
    border:  #198754 solid 1px;
    background-color:#198754 ;
}
.strat-title-btn{
    padding: 5px 45px ;

}